body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    align-items: center;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input {
    padding: 10px;
    margin-right: 10px;
    width: 200px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    /*color: white;*/
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

li:hover {
    transform: scale(1.05);
}

a {
    color: #4CAF50;
    text-decoration: none;
}

.jumbotron-background {
    background-image: url('./../img/background.jpg');
    background-size: cover;
    color: #fff;
}

.table .table-hover .table-bordered .tip-products-tab {
    position: relative;
    padding: 1em;
}

.asteriskField {
    display: none;
}

ul.messages {
    padding: 0;
}

li.messages li {
    list-style: none;
}

.navbar-custom .navbar-nav .nav-item:last-child {
    margin-right: 0;
}

.navbar-custom .navbar-nav .nav-link {
    padding: 10px 15px;
}

.navbar-custom .navbar-nav .nav-link:hover {
    background-color: #495057;
}

.navbar-dark .navbar-nav .nav-link {
    color: #3f3f3f;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #4CAF50;
}

.navbar-nav .nav-link {
    color: #3f3f3f;
    border: 2px solid #4CAF50;
    border-radius: 5px;
}

.navbar-nav .nav-link:hover {
    color: #4CAF50;
}
